#hello {
    margin-left: 6%;
}

img {
    width: 300px;
    height: 220px;
    margin-left: 2%;
}

#button-box {
    margin-left: 2.8%;
}

#draw-result {
    margin-left: 2.8%;
}

#luckyChoice {
    display: none;
    margin-left: 2.8%;
}

#luckySelect {
    display: none;
    margin-left: 2.8%;
}

#changeImage {
    display: none;
}